* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
}

.hidden {
  display: none !important;
}

.row {
  width: 100%;
}

.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.button {
  background-color: #1c5d99;
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.6rem 2rem;
}

.add-entry {
  width: 10rem;
  height: 2.5rem;
  padding: 0.6rem 2rem;
}

.margin-top-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padding-top-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.submit {
  width: 5rem;
  height: 2.5rem;
  padding: 0.6rem 1rem;
}

.vertical-height-centered {
  height: 50vh;
  align-items: center;
}

.align-center {
  align-items: center;
}

.overlay-wrapper {
  height: 100%;
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.modal-container {
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem;
  width: 45rem;
}

.column-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-end {
  justify-content: end;
}

select {
  padding: 0.15rem;
  margin-right: 1rem;
}

.space-evenly {
  justify-content: space-evenly;
}

.schedule {
  border: 1px solid black;
}

tr:nth-child(odd) {
  background-color: rgb(233 230 230);
}

th {
  background-color: #ccc;
  width: 100%;
}

.column-day {
  border: 1px solid black;
  padding: 1rem;
  font-size: 1rem;
}

.time-table {
  width: 25%;
  margin-left: 5rem;
}

.description-table {
  width: 75%;
  margin-right: 5rem;
}

table {
  width: 100%;
  table-layout: fixed;
  min-height: 300px;
}

td {
  /* table-layout: fixed; */
}

thead {
  height: 10%;
}
